@import '../base';
@import '../utilities/positioning';

.header {
  background-color: $color-white;
  color: $color-gray-500-darker;
  height: 66px;
  padding: 0 60px;

  & a {
    color: $color-gray-500-darker;
  }
}

.logo {
  height: 54px;
  width: 54px;
  margin-top: 6px
}

.searchBar{
  height: 40px;
  width: 660px;
  text-indent: 24px;
  border-radius: 30px;
  border: 1px #D1D4D6;

  &-icon {
    background: url('/public/icons/vector-magnify.png') no-repeat left;
    background-size: 20px;
  }
}

.myAccount{
  min-width: 120px;
}
