@import "../base";

.cartItem {
  width: 400px;

  &--img {
    height: 400px;
    width: 209px;
    margin-right: 18px;
  }

  &--delete {
    margin-right: auto;
  }
}

.plus-and-minus-i {
  height: 24px;
  width: 24px;
}