@import "../base";

.cartItem {
  max-width: 266px;

  &--img {
    height: 400px;
  }

  &--text {
    height: 100%;
  }

  &--delete {
    color: $color-neutral;
    margin-top: -6px;
    margin-left: auto;
  }
}

.plus-and-minus-i {
  height: 24px;
  width: 24px;
}
