@import "../../scss/base";

.home {
  margin-top: 30px;
}

.filters {
  display: flex;
  justify-content: center;
}

.filterItem {
  border-radius: 0 !important;
  border-left: 1px solid $color-gray-100 !important;
  color: $color-neutral;

  &:last-child {
    border-right: 1px solid $color-gray-100 !important;
  }

  &--clicked {
    box-shadow: 0 0 0 1px black;
  }
}

.errorAndLoadingMsg {
  margin-left: 60px;
}