.hero {
  max-width: 100%;
}

.underline {
  height: 1px;
}

.landing-sword-text {
  min-width: 350px;
}

#landing-sword-title {
  margin-bottom: 12px;
}

#slider-img {
  max-width: 43%;
  //max-width: 46.12%;
  min-width: 450px;
  min-height: 450px;
  max-height: 760px;
  border-radius: 12px;
  overflow: hidden;
}

.aboutUs {
  &-text{
    min-width: 450px;
    max-width: 43%;
  }

  &-img {
    min-height: 300px;
    max-height: 350px;
  }
}

.maxWidth {
  max-width: 90vw;
}


