@import "../global/color-variables";

.hero {
  &--bg-img {
    width: 100%;
    min-width: 100%;
    max-height: 90vh;
    height: 1000px;
  }

  &--img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 80vh;
    max-height: 800px;
  }
}

.landing-claim {
  max-width: 1025px;
}

.about-us {
  &--title {
    margin: 0;
    padding: 48px;
  }

  &--text {
    padding: 48px;
    margin-top: auto;
  }

  &--img {
    width: 500px;
    max-height: 522px;
  }
}

.contact {
  &--title {
    margin: 0;
    padding: 48px 48px 0 48px;
  }

  &--form {
    & input, & textarea {
      border: none;
      background-color: $color-gray-100-light;
      padding: 24px 12px;
      resize: none;
    }

    & label {
      padding: 12px;
    }

    & span {
      color: $color-error;
      padding: 12px;
    }

    &-message {
      height: 100%
    }

    &-termsAndConditions {
      padding: 0 12px;
    }

    &-checkbox {
      border: 1px solid red;
    }
  }
}

.swiper-pagination-bullets {
  padding-bottom: 18px;
}


.Toastify__toast:has(div.contact--form-toast) {
  width: 500px;
  right: 200px;
}