.hero {
  width: 100vw;
}

.underline {
  height: 1px;
}

.landing-sword-text {
  //max-width: 640px;
}

#landing-sword-title {
  margin-bottom: 12px;
}

.slider {
  &-img {
    max-height: 760px;
  }
}

.aboutUs {
  &-img {
    max-height: 425px;
  }
}

.maxWidth {
  max-width: 90vw;
}


