@import "../global/color-variables";

.payment {
  &--item {
    max-width: 266px;

    &-title {
      font-weight: 700 !important;
    }
  }

  &--img {
    height: 400px;
  }

  &--form {
    width: 100%;
    margin-right: 60px;

    &-title {
      margin: 0;
      padding: 32px;
    }
  }
}

.Toastify__toast:has(div.toast-thanks-for-purchase) {
  margin: 0;
  padding: 0;
}

.toast-message-thanks-for-purchase {
  padding: 0 0 44px 0;

  &--img {
    height: 300px;
    left: 0;
    right: 0;
  }
}

.toast-thanks-for-purchase[role="alert"] {
  padding: 0;
}


