@import "../global/color-variables";

.payment {
  &--img {
    height: 400px;
  }

  &--form {
    width: 100%;
    margin-right: 60px;

    &-title {
      margin: 0;
      padding: 32px;
    }
  }
}

.Toastify__toast:has(div.toast-thanks-for-purchase) {
  height: 80vh !important;
}

.toast-message-thanks-for-purchase {
  background-color: $color-white-lighter;
  width: 450px;
  padding: 24px 0 44px 0;

  &--img {
    height: 300px;
  }
}

.toast-thanks-for-purchase {
  //background-image: url("/public/fire.jpg");
  //background-repeat: no-repeat;
  //background-size: cover;
  //border: 1px solid black;
  //height: 100%;
  //width: 80vw !important;
  //max-width: 1200px !important;
}

.toast-color {
  //background-color: transparent !important;
}


