.product {
  display: flex;
  flex-direction: row;
}

.productImage {
  height: 600px;
  width: 600px;
}

.productInfo {
  display: flex;
  flex-direction: column;

  & button {
    width: 160px;
  }
}

.similarProduct {
  display: flex;
  flex-direction: column;

  &Img {
    height: 140px;
    width: 140px;
  }

  &Display {
    display: flex;
    flex-direction: row;
  }
}