@import "../base";

.productDetails {
  &--reviews-title {
      margin: 0;
      padding: 36px 24px;
  }

  &--review {
    padding: 24px;

    &-stars {
      height: 24px;
      width: 152px;
    }
  }

  &--review:last-child {
    border: none;
  }
}
