.display-flex-column {
  display: flex;
  flex-direction: column;
}

.display-flex-row {
  display: flex;
  flex-direction: row;
}

.gap-12 {
  gap: 12px;
}

.gap-24 {
  gap: 24px;
}

.gap-36 {
  gap: 36px;
}

.gap-60 {
  gap: 60px;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-bottom-24 {
  margin-bottom: 24px;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-auto {
  margin-top: auto;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.align-center {
  align-items: center;
}

.align-text-center {
  text-align: center;
}

.align-flex-start {
  align-items: flex-start;
}

.center-ver {
  margin-top: auto;
  margin-bottom: auto;
}

.center-hor {
  margin-left: auto;
  margin-right: auto;
}