.display-flex-column {
  display: flex;
  flex-direction: column;
}

.display-flex-row {
  display: flex;
  flex-direction: row;
}

.gap-12 {
  gap: 12px;
}

.gap-24 {
  gap: 24px;
}

.gap-36 {
  gap: 36px;
}

.align-center {
  align-items: center;
}

.center-ver {
  margin-top: auto;
  margin-bottom: auto;
}

.center-hor {
  margin-left: auto;
  margin-right: auto;
}