@import "../../scss/global/color-variables";

.itemDetails {
  &--title {
    padding: 0 0 24px 36px;
    margin-bottom: 0;
  }

  &--images-section {
  }

  &--img {
    height: 675px;
    width: 450px;

    &-small {
      width: 78px;
    }

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 24px;
    }

    &-btn {
      margin-bottom: -10px;
    }
  }

  &--text-section {
    height: 675px;
    width: 100%;
  }

  &--sword {
    &-title {
      margin: 0;
      padding: 24px 24px 0 24px;
    }

    &-description {
      padding: 24px
    }
  }

  &--btn {
    text-align: center;
    margin-top: auto;
    color: $color-white;
  }

  &--bullets-container {
    height: 78px;
  }

  &--mainImage {
    height: 100%;

    &-arrows {
      font-size: 32px;
      color: white;
      padding: 24px;
      margin: 0 24px;
    }
  }
}