@import "../../scss/base";
@import "../../scss/utilities/positioning";

.header {
  max-width: 1920px;
  height: 72px;

  &--btn {
    display: flex;
  }
}

.logo {
  height: 40px;
  width: 183px;
  margin-top: 8px;
}

.searchBar {
  height: 40px;
  width: 269px;
  text-indent: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid $color-gray-100;


  &--input {
    border: none;
    padding-left: 12px;

    &:focus {
      outline: none;
    }
  }

  &--img {
    height: 24px;
    width: 24px;
    padding-left: 12px;
    padding-top: 8px;
  }
}
