$color-primary: #0066B3;
$color-primary-light: #0083E5;

$color-secondary: #883244;
$color-secondary-light: #BA455D;
$color-secondary-lighter: #C86A7E;
$color-secondary-lighter-50-opacity: rgba(200, 106, 126, 0.5);
$color-secondary-dark: #5D222F;
$color-secondary-dark-50-opacity: rgba(93, 34, 47, 0.5);
$color-secondary-darker: #38151C;

$color-black: #282C2F;

$color-white: #E4E6E7;
$color-white-light: #EFF0F1;
$color-white-dark: #D1D4D6;

$color-gray-100: #BDC1C3;
$color-gray-100-darker: #979CA1;

$color-gray-300: #9BA0A3;
$color-gray-300-light: #AFB3B6;
$color-gray-300-lighter: #C2C5C7;
$color-gray-300-dark: #8A8F93;
$color-gray-300-darker: #787E82;

$color-gray-500: #595D60;
$color-gray-500-darker: #36383A;