@import '../base';

.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}

.bgcolor-primary {
  background-color: $color-primary;
}

.bgcolor-secondary {
  background-color: #883244;
}

.bgcolor-gray-100{
  background-color: $color-gray-100;
}

.bgcolor-gray-300{
  background-color: $color-gray-300;
}

.bgcolor-gray-500{
  background-color: $color-gray-500;
}