//$width: 1800;
//$gapSize: 18px;
//$columns: 16;
////1 column = 6.25%
//$columnSize: 6.25;
//
//.grid {
//  display: flex;
//  width: 100%;
//  max-width: #{$width}px;
//  gap: #{$gapSize};
//}
//
//@for $i from 1 through $columns {
//  $gapsNumber: $i - 1;
//  $totalWidth: ($columnSize * $i) + ($gapsNumber * $gapSize);
//
//  .grid__item-#{$i}-columns {
//    flex: 0 0
//  }
//}

$width: 1800;
$gapSize: 24px;
$columns: 16;
$columnSize: 6.25%;

.grid {
  display: flex;
  width: 100%;
  max-width: #{$width}px;
  //gap: #{$gapSize};

  &--1of16 {
    flex: 0 0 calc($columnSize - $gapSize);
  }

  @for $i from 1 through $columns {
    $gapsNumber: $i - 1;
    $totalColumnSize: $columnSize * $i;
    $totalGapSize: $gapsNumber * $gapSize;

    &__item-#{$i}-columns {
      flex: 0 0 calc($totalColumnSize + $totalGapSize);
      padding-right: 24px;
      box-sizing: border-box;
    }
  }

  //&--1of2 {
  //  flex: 0 0 calc(50% - )
  //}
}
