.dialog {
  display: flex;
  align-items: center;

  &--overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  &--content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 10000;
  }
}