@import "../../scss/base";

.footer {
  &--logo {
    height: 40px;
    width: 183px;
    margin: 18px;
  }

  &--section-logo {
    max-width: 546px;
    padding: 0 48px;
    margin-right: auto;
  }

  &--section-company {
    padding: 0 48px;
  }

  &--section-social {
    padding: 0 48px;
  }

  &--section-policies {
    padding: 0 48px;
  }

  &--bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 24px 0;
    margin: 0;
  }
}

.test {
  max-width: 873px;
  margin-left: auto;
  //padding-left: 300px;
}

