@import "../../scss/base";

.item {
  &--text {
    margin-left: 6px;
  }

  &--img {
    width: 100%;
    min-width: 250px;
    max-height: 80vh;
  }
}

.itemDisplay {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  &--item {
    border-right: 1px solid $color-white;
    border-radius: 0;
  }

  &--btn:after {
    content:"";
    position: absolute;
    inset: 0;
  }

  &--item:last-child {
    border: none;
  }
}