@import "../../scss/base";

.item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;

  &--text {
    margin-left: 6px;
  }

  &--img {
    width: 100%;
    min-width: 250px;
    //max-width: 565px;
    max-height: 80vh;
  }
}

.itemDisplay {
  &--home-and-payment {
    display: flex;
    //flex-wrap: wrap;
    gap: 1px;
  }
}