@import "../../scss/base";

.item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;

  &--text {
    margin-left: 6px;
  }

  &--link {
    text-decoration: none;
    color: $color-gray-500-darker;
  }

  &--img {
    height: auto;
    width: 100%;
    min-width: 200px;
    max-height: 80vh;
  }
}

.itemDisplay {
  display: flex;
  gap: 1px;
  max-width: 100%;
}
