html {

}

.site {
  display: flex;
  flex-direction: column;
}


// Header
.logo {

}

.categoriesMenu {

}

.searchBar{

}

.myAccountMenu{

}

// App
.itemDisplayAndFilter {
  display: flex;
  flex-direction: row;
}

// ProductDetails
.product {
  display: flex;
  flex-direction: row;
}

.productImage {
  height: 600px;
  width: 600px;
}

.productInfo {
  display: flex;
  flex-direction: column;

  & button {
    width: 160px;
  }
}


// Hero
.hero {
  display: flex;
  flex-direction: row;
}

// Footer
.footer {
  height: 100px;
  background-color: gray;
  color: white;
}

// ItemDisplay
.item {
  display: flex;
  flex-direction: column;
}

.itemTitle {

}

.itemDisplay {
  display: flex;
  flex-wrap: wrap;
}

// Filter
.filter {

}



