html {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
  font-size: 24px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.main {
  flex: 1;
}

.sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.main {
  flex: 1;
}

.icon {
  height: 24px;
  width: 24px;
}

.grid {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 1800;
  margin: 0 12px;
}

.item-1 {
  flex: 0 0 calc(8.3333333333% - 24px);
  flex-shrink: 0;
  flex-grow: 1;
  margin: 12px;
}

.item-2 {
  flex: 0 0 calc(16.6666666667% - 24px);
  flex-shrink: 0;
  flex-grow: 1;
  margin: 12px;
}

.item-3 {
  flex: 0 0 calc(25% - 24px);
  flex-shrink: 0;
  flex-grow: 1;
  margin: 12px;
}

.item-4 {
  flex: 0 0 calc(33.3333333333% - 24px);
  flex-shrink: 0;
  flex-grow: 1;
  margin: 12px;
}

.item-5 {
  flex: 0 0 calc(41.6666666667% - 24px);
  flex-shrink: 0;
  flex-grow: 1;
  margin: 12px;
}

.item-6 {
  flex: 0 0 calc(50% - 24px);
  flex-shrink: 0;
  flex-grow: 1;
  margin: 12px;
}

.item-7 {
  flex: 0 0 calc(58.3333333333% - 24px);
  flex-shrink: 0;
  flex-grow: 1;
  margin: 12px;
}

.item-8 {
  flex: 0 0 calc(66.6666666667% - 24px);
  flex-shrink: 0;
  flex-grow: 1;
  margin: 12px;
}

.item-9 {
  flex: 0 0 calc(75% - 24px);
  flex-shrink: 0;
  flex-grow: 1;
  margin: 12px;
}

.item-10 {
  flex: 0 0 calc(83.3333333333% - 24px);
  flex-shrink: 0;
  flex-grow: 1;
  margin: 12px;
}

.item-11 {
  flex: 0 0 calc(91.6666666667% - 24px);
  flex-shrink: 0;
  flex-grow: 1;
  margin: 12px;
}

.item-12 {
  flex: 0 0 calc(100% - 24px);
  flex-shrink: 0;
  flex-grow: 1;
  margin: 12px;
}

.height-24 {
  height: 24px;
}

.hero {
  max-width: 100%;
}

.underline {
  height: 1px;
  width: 100%;
}

.landing-sword-text {
  min-width: 350px;
}

#landing-sword-title {
  margin-bottom: 12px;
}

#slider-img {
  max-width: 43%;
  min-width: 450px;
  min-height: 450px;
  max-height: 760px;
  border-radius: 12px;
  overflow: hidden;
}

.slider-price {
  max-width: 168px;
}

.aboutUs-text {
  min-width: 450px;
  max-width: 43%;
}
.aboutUs-img {
  min-height: 300px;
  max-height: 350px;
}

.maxWidth {
  max-width: 90vw;
}

html {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
  font-size: 24px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.main {
  flex: 1;
}

.sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.main {
  flex: 1;
}

.icon {
  height: 24px;
  width: 24px;
}

.productDetails--title {
  font-size: 48px;
  margin-bottom: 18px;
  margin-top: 60px;
}
.productDetails--title-line {
  height: 2px;
  width: 100%;
  background-color: #9BA0A3;
  margin-bottom: 84px;
}
.productDetails--subtitles {
  margin-bottom: 24px !important;
}

.product {
  display: flex;
  flex-direction: row;
  gap: 138px;
}
.product--img {
  min-width: 450px;
  border-radius: 12px;
}
.product--text {
  display: flex;
  flex-direction: column;
}

.similarProduct {
  display: flex;
  flex-direction: row;
}
.similarProduct--item {
  display: flex;
  flex-direction: row;
}
.similarProduct--img {
  height: 400px;
  width: 209px;
  margin-right: 18px;
}
.similarProduct a:visited {
  color: inherit;
}

html {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
  font-size: 24px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.main {
  flex: 1;
}

.sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.main {
  flex: 1;
}

.icon {
  height: 24px;
  width: 24px;
}

.cartItem {
  display: flex;
  flex-direction: row;
}
.cartItem--img {
  height: 400px;
  width: 209px;
  margin-right: 18px;
}
.cartItem--delete {
  margin-right: auto;
}

.cartTitle {
  font-size: 48px;
  margin-bottom: 18px;
  margin-top: 60px;
}
.cartTitle--line {
  height: 2px;
  width: 100%;
  background-color: #9BA0A3;
  margin-bottom: 84px;
}

.cartDisplay {
  display: flex;
  flex-direction: row;
}

.plus-and-minus-i {
  height: 24px;
  width: 24px;
}

.payment {
  display: flex;
  flex-direction: row;
}
.payment--item {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}
.payment--item-text {
  display: flex;
  flex-direction: column;
}

.myAccount {
  display: flex;
  flex-direction: row;
}
.myAccountMyImg {
  display: flex;
  flex-direction: column;
  height: 200px;
}
.myAccountMyImgUserImg {
  height: 120px;
  width: 120px;
}

.font {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
  font-size: 24px;
}
.font-alt {
  font-family: "Pontano Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.h1 {
  margin-bottom: 1.5em;
  font-size: 48px;
}

.h2 {
  margin-bottom: 1.5em;
  font-size: 32px;
}

.h2--no-margin {
  font-size: 32px;
}

.h3 {
  margin-bottom: 1.5em;
  font-size: 28px;
}

.h1-bold {
  margin-bottom: 1.5em;
  font-size: 48px;
  font-weight: 600;
}

.h2-bold {
  margin-bottom: 1.5em;
  font-size: 32px;
  font-weight: 600;
}

.h3-bold {
  margin-bottom: 1.5em;
  font-size: 28px;
  font-weight: 600;
}

.h4 {
  margin-bottom: 1.5em;
}

.h5 {
  margin-bottom: 1.5em;
}

.h6 {
  margin-bottom: 1.5em;
}

.text-size-14 {
  font-size: 14px;
}

small,
.small {
  font-size: 18px;
}

.bold {
  font-weight: 600;
}

.crossed-text {
  text-decoration: line-through;
}

html {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
  font-size: 24px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.main {
  flex: 1;
}

.sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.main {
  flex: 1;
}

.icon {
  height: 24px;
  width: 24px;
}

.color-white {
  color: #E4E6E7;
}

.color-black {
  color: #282C2F;
}

.bgcolor-primary {
  background-color: #0066B3;
}

.bgcolor-secondary {
  background-color: #883244;
}

.bgcolor-gray-100 {
  background-color: #BDC1C3;
}

.bgcolor-gray-300 {
  background-color: #9BA0A3;
}

.bgcolor-gray-500 {
  background-color: #595D60;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.gap-12 {
  gap: 12px;
}

.gap-18 {
  gap: 18px;
}

.gap-24 {
  gap: 24px;
}

.gap-36 {
  gap: 36px;
}

.gap-60 {
  gap: 60px;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-12 {
  margin-bottom: 12px;
}

.margin-bottom-24 {
  margin-bottom: 24px;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-auto {
  margin-top: auto;
}

.margin-lat-60 {
  margin-left: 60px;
  margin-right: 60px;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.align-text-center {
  text-align: center;
}

.align-text-left {
  text-align: left;
}

.align-flex-start {
  align-items: flex-start;
}

.margin-ver-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.margin-lat-auto {
  margin-left: auto;
  margin-right: auto;
}

.position-abs {
  position: absolute;
}

.position-rel {
  position: relative;
}

.border-radius-6 {
  border-radius: 6px;
}

.border-radius-12 {
  border-radius: 12px;
}

/*# sourceMappingURL=style.css.map */
